EXPO_PUBLIC_SUPABASE_URL=https://xwfrlkjuemcmanokocgp.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh3ZnJsa2p1ZW1jbWFub2tvY2dwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzOTE1NDIsImV4cCI6MjA4NTk2NzU0Mn0.atEsw3Paqv_W_S11UzS1fWSrXBitnSLmMAaygD9SzvU
